@model System.String
@{
	ViewBag.Title = "Cabinet";
}

<div>
	<div style="text-align: right; margin: 20px; float: right">
		<p>@Model</p>
		@Html.ActionLink("Log out", "RegForm")
	</div>
	<div>
		<h2>Cabinet</h2>
	</div>
</div>
